<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agricultural </title>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
<style> 
        body {
        background-image: url("/static/img.jpg");
        background-position: center;
        background-size: cover;
        position: relative;

        }
        </style>
 
<body>

        <div class="header">
            <div>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">  </a><br>
                    </li>
                    <li role="presentation"><a href="#"></a>
                    </li>
                    <li role="presentation"><a href="showSignUp"> </a>
                    </li>
                </ul>
            <h2>Welcome</h2>
        </div>

        <div style="text-align: center; background-color: white;">
            <h1>Ministry of Agriculture</h1>
            <b
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign In</a>
            </p>

                <div style="text-align: center;">
                <h4>Description</h4>
                <p>Free Dashboard for Farmers</p>
            </div>
</div>
        <footer class="footer" style="color: black">
            <p>&copy; IoT Group 2</p>
        </footer>
 

</body>
 
</html>