<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agricultural</title>
 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
  <style> 
        body {
        background-image: url("/static/img.jpg");
        background-position: center;
        background-size: cover;
        position: relative;

        }
        </style>
 
  <body>
 
  
 

        <h1>Enter Details</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label><br><br>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label><br><br>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" ><a href="Welcome"> Sign In</a></button>

        

      </form>

 
       
 
      <footer class="footer" style="color: black">
          <p>&copy; IoT Group 2</p>
      </footer>
 

  </body>

</html>